<% include partials/head %>
<div class="blocked">
  <h1>
    Sorry no registrations Today
  </h1>
  <h1>Meat Hose is Broke</h1>
  <h2><a href="/login" target="_self">Back to Login Text</a></h2>
</div>
<div>
</div>
<% include partials/foot %>
