<% include partials/head %>
<div>
  <h1>
    time to sign up asshead
  </h1>

  <div>
    <form action="/login" method="POST" accept-charset="utf-8">
      <label for="username">username</label>
      <input type="text" name="username" id="username" value="" />

      <label for="password_digest">password_digest</label>
      <input type="password" name="password" id="password" value="" />

      <button type="submit" value="submit">Submit</button>
    </form>

    <p>
      Or head on <a href="/register" target="_self">or head on over to register</a>
    </p>
    <div>
</div>
<% include partials/foot %>
