<% include partials/head %>
<div>
  you did it!
  <p>
    Now get on back to <a href="http://router.draketalley.com" target="_self">that routery goodness</a>
  </p>
</div>
<% include partials/foot %>
